use flake
# 让 uv 使用清华源加速 Python 包下载
export UV_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
# 专门针对 Torch GPU 版本的加速
export UV_EXTRA_INDEX_URL=https://mirrors.bfsu.edu.cn/anaconda/cloud/pytorch/linux-64/